.about-me-card {
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding: 64px;
    border: var(--border-alt);
  }

  &__quote {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color: var(--color-dark-gray);
  }

  &__footer-author {
    font-weight: 700;
    font-style: normal;
  }

  &__footer-post {
    font-style: normal;
  }
}