.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 32px;
  font-weight: 700;
  color: var(--color-white);
  border: var(--border-accent);
  text-transform: uppercase;

  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 0;
  }

  @include hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }

  &:active {
    background-color: darken(#5221e6, 15%);
  }
}