.hero {
  position: relative;
  min-height: 900px;
  color: var(--color-white);

  &::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: calc((100% - 360px) / 2);
    z-index: -10;
    background-color: var(--color-dark);
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__image-wrapper {
    position: absolute;
    top: 166px;
    left: 0;
    z-index: -1;
  }

  &__image {
  }

  &__body {
    max-width: 738px;
    margin-top: 307px;
    margin-right: 40px;
  }

  &__title {
    margin-bottom: 32px;

    span {
      opacity: .5;
    }
  }

  &__description {
  }
}