.section-reverse {
  color: var(--color-dark);
  background-color: var(--color-peach);

  &__inner {
    gap: 0;
  }

  &__body {
    align-self: center;
    padding-right: 72px;
    padding-left: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 576px;
    min-height: 360px;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 13px;
  }

  &__description {
    color: var(--color-dark-gray);
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-top: auto;
    font-size: 16px;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: var(--color-light-gray);
      transition-duration: var(--transition-duration);
      transform-origin: left;
    }

    &:focus-visible {
      outline: 1px solid var(--color-dark);
      outline-offset: 2px;
    }

    @include hover {
      &::after {
        transform: scaleX(1.2);
      }
    }

    &:active {
      color: var(--color-accent);
    }
  }
}