.projects {
  padding-block: 120px;

  &__inner {
    gap: 24px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    max-width: 575px;
    margin-bottom: 80px;

    span {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
  }

  &__title {
    color: var(--color-white);
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__button {
    margin: auto;
  }
}