<section class="about-me">
  <div class="about-me__inner container grid grid--2">
    <header class="about-me__header">
      <h2 class="about-me__title">This is what people say about me</h2>
      <p class="about-me__description">
        Here are a few lines from people who I have worked with over the past 8+
        years in my design career.
      </p>
      <a class="about-me__link" href="#!">See all testimonials</a>
    </header>
    <ul class="about-me__list">
      <li class="about-me__list-item">
        <article class="about-me__list-card about-me-card">
          <div class="about-me-card__image-wrapper">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./img/about-me/1-tablet.webp"
              />
              <img
                class="about-me-card__image"
                src="./img/about-me/1.webp"
                alt="Designer is working"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="about-me-card__body">
            <blockquote class="about-me-card__quote">
              <p class="about-me-card__quote-text">
                "Robin is one of the best designers I have worked with in my
                entire life. He is a designer who is very capable of taking up
                complex projects and delivers impeccable design."
              </p>
            </blockquote>
            <footer class="about-me-card__footer">
              <cite class="about-me-card__footer-author">Richard Owens</cite>
              <cite class="about-me-card__footer-post">CEO, Company 1</cite>
            </footer>
          </div>
        </article>
      </li>
      <li class="about-me__list-item">
        <article class="about-me-list__card about-me-card">
          <div class="about-me-card__image-wrapper">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./img/about-me/2-tablet.webp"
              />
              <img
                class="about-me-card__image"
                src="./img/about-me/2.webp"
                alt="Meeting"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="about-me-card__body">
            <blockquote class="about-me-card__quote">
              <p class="about-me-card__quote-text">
                "I think Robin has an incredible gift. It has been an absolute
                pleasure to work with a designer of this caliber."
              </p>
            </blockquote>
            <footer class="about-me-card__footer">
              <cite class="about-me-card__footer-author">Emily Parker</cite>
              <cite class="about-me-card__footer-post">CEO, Company 2</cite>
            </footer>
          </div>
        </article>
      </li>
      <l__ cla-="about-me__list-item">
        <article class="about-me-list__card about-me-card">
          <div class="about-me-card__image-wrapper">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="./img/about-me/1-tablet.webp"
              />
              <img
                class="about-me-card__image"
                src="./img/about-me/1.webp"
                alt="Discussion"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="about-me-card__body">
            <blockquote class="about-me-card__quote">
              <p class="about-me-card__quote-text">
                "All I can say that, Robin is a phenomenal designer. The
                wavelength at which he thinks is astoundaing. I love the focus,
                passion and attention to detial in the design."
              </p>
            </blockquote>
            <footer class="about-me-card__footer">
              <cite class="about-me-card__footer-author">Vincent Rudd</cite>
              <cite class="about-me-card__footer-post">CEO, Company 1</cite>
            </footer>
          </div>
        </article>
      </l__>
    </ul__
  <-iv>
</section>
