<section class="dribbble">
  <div class="dribbble__inner container container--narrow">
    <div class="dribbble__body">
      <h2 class="dribbble__title">Dribbble</h2>
      <p class="dribbble__description">
        Each dribbble shot is made with love and care. Do check out my work on
        Dribbble. Likes and comments are appreciated.
      </p>
      <a class="dribbble__link" href="#!">Follow me on Dribbble</a>
    </div>
    <div class="dribbble__image-wrapper">
      <picture>
        <source media="(max-width: 767px)" srcset="./img/dribbble/dribbble-bg-mobile.webp">
        <source media="(max-width: 1023px)" srcset="./img/dribbble/dribbble-bg-tablet.webp">
        <img
          class="dribbble__image"
          src="./img/dribbble/dribbble-bg.webp"
          alt="Dribbble example"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>