<section class="experience">
  <div class="experience__inner container">
    <header class="experience__header">
      <span>work experience</span>
      <h2 class="experience__title">Companies I have worked for in the past</h2>
    </header>
    <div class="experience__body">
      <ol class="experience__list experience-list grid grid--12">
        <li class="experience-list__item">
          <h3 class="experience-list__item-title">
            <span>Google</span>, Interaction Designer
          </h3>
          <p class="experience-list__item-description">
            I currently am the lead designer on the interaction design team for
            Google Play.
          </p>
        </li>
        <li class="experience-list__item">
          <h3 class="experience-list__item-title">
            <span>Facebook</span>, Product Designer
          </h3>
          <p class="experience-list__item-description">
            I’ve worked on a wide variety of internal tools for facebook over
            the past 6 years.
          </p>
        </li>
        <li class="experience-list__item">
          <h3 class="experience-list__item-title">
            <span>Dribbble</span>, Graphic Designer
          </h3>
          <p class="experience-list__item-description">
            I started my design career with Dribbble. I was incharge of creating
            illustrations for the platform.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>