<section class="gallery">
  <div class="gallery__inner container">
    <header class="gallery__header">
      <h2 class="gallery__title">Photography</h2>
      <p class="gallery__description">
        Here is a collection of my best travel pictures that I took while
        travelling places all around the world.
      </p>
    </header>
    <div class="gallery__body">
      <div class="gallery__pagination">
        <button
          class="gallery__pagination-button button is-active"
          type="button"
          data-country="italy"
        >
          italy
        </button>
        <button
          class="gallery__pagination-button button"
          type="button"
          data-country="australia"
        >
          australia
        </button>
        <button
          class="gallery__pagination-button button"
          type="button"
          data-country="india"
        >
          india
        </button>
        <button
          class="gallery__pagination-button button"
          type="button"
          data-country="brazil"
        >
          brazil
        </button>
      </div>
      <div class="gallery__images-list-wrapper">
        <ul class="gallery__images-list grid grid--12" data-country-list="italy">
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/1.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/2.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/3.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/4.webp"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="gallery__images-list grid grid--12 is-hidden" data-country-list="australia">
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/2.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/2.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/2.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/2.webp"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="gallery__images-list grid grid--12 is-hidden" data-country-list="india">
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/3.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/3.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/3.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/3.webp"
              loading="lazy"
            />
          </li>
        </ul>
        <ul class="gallery__images-list grid grid--12 is-hidden" data-country-list="brazil">
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/4.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/4.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/4.webp"
              loading="lazy"
            />
          </li>
          <li class="gallery__images-item">
            <img
              class="gallery__images-image"
              src="./img/gallery/4.webp"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
