<section class="get-started">
  <div class="get-started__inner container container--narrow grid grid--2">
    <header class="get-started__header">
      <h2 class="get-started__title">Let’s get started</h2>
      <p class="get-started__description">
        Now that you know a lot about me, let me know if you are interested to
        work with me.
      </p>
    </header>
    <div class="get-started__body">
      <form class="get-started__form get-started-form">
        <div class="get-started-form__field">
          <label class="get-started-form__label" for="name">Name</label>
          <input
            class="get-started-form__input"
            name="name"
            id="name"
            type="text"
          />
        </div>
        <div class="get-started-form__field">
          <label class="get-started-form__label" for="email">Email</label>
          <input
            class="get-started-form__input"
            name="email"
            id="email"
            type="email"
          />
        </div>
        <div class="get-started-form__field">
          <label class="get-started-form__label" for="message">Message</label>
          <textarea class="get-started-form__textarea" name="message" id="message"></textarea>
        </div>
        <button class="get-started-form__submit-button button" type="submit">
          Let's get started
        </button>
      </form>
    </div>
  </div>
</section>