<header class="header">
  <div class="header__inner container">
    <a class="header__logo header-logo" href="#!">
      <img
        class="header-logo__image"
        src="./img/header/header-logo.svg"
        alt="Robin.W Logo"
        width="78"
        height="24"
        loading="lazy"
      />
    </a>
    <nav class="header__menu header-menu">
      <ul class="header-menu__list">
        <li class="header-menu__item">
          <a class="header-menu__link" href="#!">Experience</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#!">Work</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#!">Photography</a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#!">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
