<section class="hero">
  <div class="hero__inner container container--wide">
    <picture class="hero__image-wrapper">
      <source media="(max-width: 767px)" srcset="./img/hero/hero-mobile.webp">
      <source media="(max-width: 1023px)" srcset="./img/hero/hero-tablet.webp">
      <img
        class="hero__image"
        src="./img/hero/hero.webp"
        alt="Robin Williams Designer"
        loading="lazy"
      />
    </picture>
    <div class="hero__body">
      <h1 class="hero__title">
        I’m Robin Williams. A Product Designer <span>based in Italy.</span>
      </h1>
      <p class="hero__description">
        I’m probably the most passionate designer you will ever get to work
        with. If you have a great project that needs some amazing skills, I’m
        your guy.
      </p>
    </div>
  </div>
</section>