<section class="instagram section-reverse">
  <div class="section-reverse__inner container container--wide grid grid--2">
    <div class="section-reverse__body">
      <div class="section-reverse__content">
        <h2 class="section-reverse__title">Instagram</h2>
        <p class="section-reverse__description">
          If you area a person who enjoys photography, then I highly recommend
          that you check out my Instagram. I’m an avid traveller and I capture
          the best moments that I would love to cherish with the world
        </p>
        <a class="section-reverse__link" href="#!">Follow me on IG</a>
      </div>
    </div>
    <picture class="section-reverse__image-wrapper">
      <source
        media="(max-width: 767px)"
        srcset="./img/instagram/instagram-mobile.webp"
      />
      <source
        media="(max-width: 1023px)"
        srcset="./img/instagram/instagram-tablet.webp"
      />
      <img
        class="section-reverse__image"
        src="./img/instagram/instagram.webp"
        alt="View from an airplane window"
        loading="lazy"
      />
    </picture>
  </div>
</section>
