<section class="mindset section-reverse">
  <div class="section-reverse__inner container container--wide grid grid--2">
    <div class="section-reverse__body">
      <div class="section-reverse__content">
        <h2 class="section-reverse__title">Philosophy & values</h2>
        <p class="section-reverse__description">
          I think everyone wants the same thing - relationship with humanity,
          peace with the metaphysical, and experience with the universe. I try to
          grasp these things with my values: authenticity, creativity, &
          hospitality.
        </p>
        <a class="section-reverse__link" href="#!">More about me</a>
      </div>
    </div>
    <picture class="section-reverse__image-wrapper">
      <source media="(max-width: 767px)" srcset="./img/mindset/mindset-mobile.webp">
      <source media="(max-width: 1023px)" srcset="./img/mindset/mindset-tablet.webp">
      <img
        class="section-reverse__image"
        src="./img/mindset/mindset.webp"
        alt="Hand holding glass ball"
        loading="lazy"
      />
    </picture>
  </div>
</section>