<section class="projects">
  <div class="projects__inner container grid grid--2">
    <div class="projects__wrapper">
      <header class="projects__header">
        <span>my projects</span>
        <h2 class="projects__title">
          Work that I’ve done for the past 8 years
        </h2>
      </header>
      <ul class="projects__list projects-list">
        <li class="projects-list__item">
          <a class="projects-list__link" href="#!">
            <article class="projects-card">
              <div class="projects-card__image-wrapper">
                <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="./img/projects/1-mobile.webp"
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="./img/projects/1-tablet.webp"
                  />
                  <img
                    class="projects-card__image"
                    src="./img/projects/1.webp"
                    alt="Laptop"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <h3 class="projects-card__title">Restaurant Website Design</h3>
                <p class="projects-card__description">
                  I worked with the guys at CBRE to redesign their entire website
                  and mobile app fro both Android and iOS. This project lasted for 4
                  months and was a very challenging one.
                </p>
              </div>
            </article>
          </a>
        </li>
        <li class="projects-list__item">
          <a class="projects-list__link" href="#!">
            <article class="projects-card">
              <div class="projects-card__image-wrapper">
                <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="./img/projects/2-mobile.webp"
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="./img/projects/2-tablet.webp"
                  />
                  <img
                    class="projects-card__image"
                    src="./img/projects/2.webp"
                    alt="Laptop"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <h3 class="projects-card__title">Restaurant Website Design</h3>
                <p class="projects-card__description">
                  I worked with the guys at CBRE to redesign their entire website
                  and mobile app fro both Android and iOS. This project lasted for 4
                  months and was a very challenging one.
                </p>
              </div>
            </article>
          </a>
        </li>
      </ul>
    </div>
    <div class="projects__wrapper">
      <ul class="projects__list projects-list">
        <li class="projects-list__item">
          <a class="projects-list__link" href="#!">
            <article class="projects-card">
              <div class="projects-card__image-wrapper">
                <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="./img/projects/3-mobile.webp"
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="./img/projects/3-tablet.webp"
                  />
                  <img
                    class="projects-card__image"
                    src="./img/projects/3.webp"
                    alt="Laptop"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <h3 class="projects-card__title">Restaurant Website Design</h3>
                <p class="projects-card__description">
                  I worked with the guys at CBRE to redesign their entire website
                  and mobile app fro both Android and iOS. This project lasted for 4
                  months and was a very challenging one.
                </p>
              </div>
            </article>
          </a>
        </li>
        <li class="projects-list__item">
          <a class="projects-list__link" href="#!">
            <article class="projects-card">
              <div class="projects-card__image-wrapper">
                <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="./img/projects/4-mobile.webp"
                  />
                  <source
                    media="(max-width: 1023px)"
                    srcset="./img/projects/4-tablet.webp"
                  />
                  <img
                    class="projects-card__image"
                    src="./img/projects/4.webp"
                    alt="Laptop"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <h3 class="projects-card__title">Restaurant Website Design</h3>
                <p class="projects-card__description">
                  I worked with the guys at CBRE to redesign their entire website
                  and mobile app fro both Android and iOS. This project lasted for 4
                  months and was a very challenging one.
                </p>
              </div>
            </article>
          </a>
        </li>
      </ul>
      <a class="projects__button button" href="#!">view all projects</a>
    </div>
  </div>
</section>